body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

section {
    padding: 20px 0;
}

.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#about, #projects, #contact {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

